# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
ENV/
venv.bak/

# PDM specific files
pdm.lock

# Julia artifacts
.julia/
Manifest.toml
Project.toml

# Distribution / packaging
build/
dist/
*.egg-info/
eggs/
wheels/

# Logs and temporary files
*.log
*.out
*.err
*.tmp
*.temp

# Testing and coverage
.tox/
.cache/
coverage.*
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS files
.DS_Store

# PyCharm/VSCode settings
.idea/
.vscode/
